# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.vspscc
*.vssscc

# Rider files
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.userprefs

# Build logs
*.log
msbuild.*.rsp
msbuild.*.binlog

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json

# ASP.NET
ScaffoldingReadMe.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Publish output
publish/
out/

# dotnet tool
.dotnet/
.config/dotnet-tools.json

# Secrets
appsettings.*.local.json
secrets.json
